@import url(http://overpass-30e2.kxcdn.com/overpass.css);
body {
    /*    width: 640px;
    height: 1136px;*/
    font-family: overpass, sans-serif;}

body {
  padding: .25em;
  font-size: 1.3em;
  padding-bottom: 3em;
  background-color: #900;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: linear-gradient(-45deg, #a00 20%, #900 20%, #900 80%, #800 80%);
  min-height: 100vh;
}

#app {
    width: inherit;
    height: inherit;
}
#example {
    width: 80%;
    height: 470px;
    position: absolute;
    top: 11%;
    left: 10%;
}
header {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
}
.center > h3 {
    color: #ffffff;
    letter-spacing: 2px;
    font-family: OS-Light;
    font-size: 1.5em;
}
.center > h3 > small {
    color: #ffffff;
    letter-spacing: 2px;
    font-family: OS-Light;
}
.header-footer-bg {
    background-color: #7ea1b6;
}
footer {
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 5%;
    color: #ffffff;
}
footer > div > small {
    padding-top: 8px;
    padding-right: 10px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.center {
    text-align: center;
}
.changethisone input{
    border-right-style:none;
}

/*
 *  CUSTOM STYLING
 */


h4{font-weight: 500 !important; font-size: 1 !important; letter-spacing:.05em ; margin-bottom: 3em;}

select, input{border-radius: 0 !important; outline:0 !important; padding: 0 !important; box-shadow:0 !important;
border-top: 0 !important; border-left:0 !important; border-right: 0 !important;

border-bottom: 1px solid rgba(0,0,0,0.2) !important;
box-shadow: 0 1px rgba(0,0,0,0.5) !important;
font-size: 1.5em !important;

}
.btn-primary{ border-radius: 0;  background-color: white; color:#333;  font-weight: 700; text-transform: uppercase; font-size: 1.5em; padding: 1em; display:block; margin: 0 auto; max-width: 20em;}

select:focus,
input:focus{outline:none; box-shadow: 0 2px #fff !important}


select option{color:#000 !important}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}


.comment{text-align:center;}
#description {
    text-align: justify;
    position: relative;
    padding-top: 20%;
    padding-bottom: 10%;
}
.input-group {    display: block;}

label{ margin-bottom:1.75em; width: 100%; text-align:left; color:rgba(255,255,255,.8)}

.checkbox-inline{opacity:0; display:none;}
.checkbox-inline + label{display:inline-block; user-select:none;min-height: 5em;
  transition: all .5s ease; cursor:pointer;text-transform: uppercase;;padding: 1em 1em 1em 1em;  !important;  width: 7em; font-size: 1.2em; text-align:center;}
.checkbox-inline:checked + label{background-color: white; color:#000; box-shadow: none;}
.checkbox-inline:focus + label{ box-shadow: inset 0 0 0 .1em #fff !important;}

label svg{width: 4em; height:4em; fill:#fff; display:block; margin:0 auto;}
.checkbox-inline:checked + label svg{fill:#c00 !important}
h1{font-family: 'Merienda', cursive; font-size:10vw; letter-spacing:-.1em}



.booking-type label{ padding-left:0 !important; padding-right:0 !important; text-align:center}
.booking-type{ text-align:center}
