body {
  padding: 5rem 0 ;
  font-family: "open sans", sans-serif;
  background-image:linear-gradient(-45deg, #902, #609); color:white; ;
  min-height: 100vh;
}
*{text-shadow:none;}
.act td:nth-child(2){}

.btn{color:white;  outline:0; box-shadow: none;font-weight: 400;background-color:violet; font-weight: 600; border-color:purple; text-shadow: 0 .1em .2em rgba(0,0,0,0.3)}
.btn:disabled{background-color:rgba(0,0,0,0.2); text-shadow: none; border-color:rgba(0,0,0,0.4)}

.btn:hover,
.btn:active,
.btn:focus{background-color:white !important; text-shadow: none !important; color:black !important;outline:0 !important; box-shadow: none !important;}
.btn-primary{background-color:black;}
.form-control{color: white; background-color: transparent; ouline:0;
border:0;  border-radius: 0;  box-shadow: none;  border-bottom:.1em solid rgba(0,0,0,0.3)
}

.form-control:focus{border-color:currentcolor; box-shadow: none;}

.form-control::-webkit-input-placeholder{color:violet}


a {  color: #00B7FF;}
label{font-weight: 300;}
h3{margin-top:3rem; font-weight:200; font-size: 3rem;}
nav,
.navbar-inverse{background-color:rgba(0,0,0,0.5) ; color:white;
  background-image:linear-gradient(-45deg, #902, #609); color:white; ;
 }

nav, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{border:0 !important;}
.navbar-inverse .navbar-brand{color: white; text-transform: uppercase; font-weight:900; letter-spacing:.2em;}


.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{border-color: currentcolor;}

.table-bordered  td{border-left:0 !important; border-right:0 !important; border-bottom:0 !important;}
table, td,th{border:0 !important; }
.table-bordered th, .table-bordered, 
.table-bordered  td{border-color:rgba(0,0,0,0.1) !important}
.table-bordered  th{border-color:purple}

.table-bordered th{background-color:rgba(0,0,0,0.3); border:0 !important;;}
.table-bordered  td{font-size:.8em;}
.table-bordered  td:nth-child(2):hover:before{color:purple;}
.table-bordered  td:nth-child(2):hover{background-color:pink; 

background-image:linear-gradient(0deg, salmon, pink); border-radius: .5em;
	color: purple}
.table-bordered  td:nth-child(2):hover{ color: purple; box-shadow: 0 0 1em rgba(0,0,0,0.5)}

.blockid, .table-bordered  td:nth-child(2){font-family:overpass mono, monospace; font-weight: 300; letter-spacing:.1em; cursor:move;}



.payment-methods{padding: 2em;  margin: 1em 0; background-color: white; text-align:center;}

.payment-methods img{cursor:no-drop;max-width: 9em;margin: 0 1em; max-height:2.5em; display:inline-block; vertical-align: middle;}



.acct_row{color:#000; cursor: move;}
.acct_row:before{content:""; color: white; font-family: sans-serif; font-size:2em; display:block; }

tr:nth-child(1) .acct_row:before{content:"AirCnC";}
tr:nth-child(2) .acct_row:before{content:"Nova Deer Coffee";}
tr:nth-child(3) .acct_row:before{content:"Planet Bank";}
tr:nth-child(4) .acct_row:before{content:"Gracies Department Store";}
tr:nth-child(5) .acct_row:before{content:"Entertainment Club";}
tr:nth-child(6) .acct_row:before{content:"UniqHi";}

body{padding-bottom: 32rem !important}
.transfer-pane{position:fixed; left:0; bottom:0; right:0; min-height: 13rem; background-color:rgba(0,0,0,0.65);  text-align:center; padding:0 2em !important;
box-shadow: 0 -.5em .5em rgba(0,0,0,0.24);
  background-image:linear-gradient(-45deg, #902, #609); color:white; ;


}

.check-points .btn{font-size: 1.5rem !important}
.act tr{position:relative}

.act td:last-child{margin-left: -20em; display:block; font-size: 2rem;}

.act tr:hover td:last-child{color: black}
.acct_row + td{ }


.connections input{border:0}
.connections{background-color: rgba(0,0,0,0.8); 

  background-image:linear-gradient(15deg,  #609, #704); color:white;  box-shadow: 0 .5em  .5em rgba(0,0,0,0.2414);

position: fixed; top: 0; left:0; right:0; z-index:9; padding: 1rem; min-height: 5rem; line-height: 4rem;}
.connections .btn{margin-top: -1rem;}
.connections label{color: violet; text-align:right; width: 100%;}

.connections h1{ top:0; font-size: 2rem; font-weight: 900;}
.btn{border-radius: 1.5em; min-width: 8em;}
.transfer-pane label{text-transform:uppercase; letter-spacing: .1em; margin: 1em;}

.transfer-pane input{font-size: 2rem ; text-transform: uppercase; text-align:center; height: 3em; line-height:3em; padding:0 1em}
.transfer-pane input[type="text"]{background-color: rgba(0,0,0,0.25) ; border:0;box-shadow: inset 0 .1em .5em rgba(0,0,0,0.4) ;}

.transfer-pane input:focus{background-color:white; color: violet;}

.connections h1{width: 20vw; display:inline-block; float:left;}
.connections input{display:inline-block !important;   ;}
.connections input[type="text"]{width: 50vw; color:violet;}

.connections .btn{font-size:2em; margin-top:.5rem; background-color:;}
@media (max-width:960px){
.transfer-pane .col-md-4{width: 30vw !important; display:inline-block; margin:0; padding:0}
.transfer-pane .col-md-2{width: 30vw !important; display:inline-block; padding:0;}
	.transfer-pane input{font-size:1.3rem; display:inline-block;} 
}
}